.main-header {
  background-color: #333;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header-buttons button {
  margin: 10px 30px;
  padding: 12px 26px;
  background-color: #5e5e5e;
  color: #f4f4f4;
  border: none;
  cursor: pointer;
}

.header-buttons button:hover {
  background-color: #f4f4f4;
  color: #5e5e5e;
}

.logged-in{
  align-self: flex-start;
}

.user-name {
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 700;
}