.solar-watch-main {
  padding-left: 23px;
}

.fetched-data {
  border: 2px solid #f4f4f4;
  width: fit-content;
  padding: 12px 24px;
}

.solar-watch-main button {
  margin: 3px 8px;
  padding: 6px 13px;
  background-color: #5e5e5e;
  color: #f4f4f4;
  border: none;
  cursor: pointer;
}

.solar-watch-main button:hover{
  background-color: #f4f4f4;
  color: #5e5e5e;
}

